<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script
    crossorigin
    src="https://unpkg.com/react@17/umd/react.development.js"
  ></script>
  <script
    crossorigin
    src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
  ></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script type="text/babel">
    const root = document.getElementById("root");

    // This function will be invocked by the iOS
    // This function located at the outside of the App(React) component
    // A function in the React component can not be invoked by the iOS
    function iOSToWeb(param1, param2) {
      alert(param1);
      // The call back function is registered by the React component and it's one way to link the function to the React world
      callback(param1);
      return "return from web";
    }

    const MyContext = React.createContext({
      token: "",
    });

    function MyComponent() {
      const [text, setText] = React.useState("");

      function fetchFromIOS() {
        if (
          window.webkit &&
          window.webkit.messageHandlers &&
          window.webkit.messageHandlers.fetchFromIOS
        ) {
          var promise = window.webkit.messageHandlers.fetchFromIOS.postMessage(
            "hello from web view"
          );

          promise.then(
            function (result) {
              setText(result);
            },
            function (err) {
              setText(err);
            }
          );
        }
      }

      return (
        <MyContext.Consumer>
          {({ token }) => {
            return (
              <>
                <input type="text" id="field2" value={token} />
                <hr />
                <button onClick={fetchFromIOS}>fetchFromIOS</button>
                <input type="text" id="field1" value={text} />
                <hr />
                <span>local storage token</span>
                <input type="text" id="field3" value={token} />
              </>
            );
          }}
        </MyContext.Consumer>
      );
    }

    const App = () => {
      // Test a way to stramlize the params passed from the iOS to the React world
      // by using State and Context
      const [token, setToken] = React.useState("something");

      React.useEffect(() => {
        setToken(window.localStorage.getItem("token"));
      });

      // Add callback function to the `window`
      window.callback = (param) => {
        // I don't know why this code is needed here,
        // otherwise the only setToken(param) is not working
        window.localStorage.setItem("token", param);
        setToken(param);
      };

      return (
        <MyContext.Provider value={{ token }}>
          <div>
            <MyComponent />
          </div>
        </MyContext.Provider>
      );
    };

    ReactDOM.render(<App />, root);
  </script>
</html>
